@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #000; 
  --background-start-rgb: #000;
  --background-end-rgb: 255, 255, 255; 
}

/* Remove the prefers-color-scheme media query */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.news-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem; /* Optional: Adjusts space between cards */
}

.news-section .card {
  flex: 1 1 calc(33.333% - 1rem); /* Adjusts the width and maintains spacing */
  max-width: calc(33.333% - 1rem);
}

@media (max-width: 768px) {
  .news-section .card {
    flex: 1 1 calc(50% - 1rem);
    max-width: calc(50% - 1rem);
  }
}

@media (max-width: 480px) {
  .news-section .card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.hero-content {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.hero-content h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero-content p {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}